{% extends 'base.html' %}


{% block content %}
<div class="user-home-container">
    <div class="snippet-item">
        <div class="detail-title">
            <h4>{{snippet.title}}</h4>
            <div class="detail-links">
               <a href="{% url 'fork' snippet.id %}"><i class="fas fa-code-branch"></i></a>
            </div>
        </div>

        <figure class="code-fig">
            <pre class="line-numbers">
<code class="lang-{{snippet.language.name}}" data-lang="{{snippet.language.name}}">{{snippet.code|safe}}</code>
</pre>
        </figure>
    </div>
</div>

{% endblock content %}

