{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="{% static 'js/detail_page.js' %}" defer></script>
{% endblock meta %}

{% block content %}
{% if message %}
<div class="message">{{message}}</div>
{% endif %}

<div class="user-home-container">
    <div class="snippet-item">
        <div class="detail-title">
            <h4>{{snippet.owner.username}}'s {{snippet.title}}</h4>
            <div class="detail-links">
                <button class="btn" aria-label="Fork this snippet as your own" title="Fork this snippet as your own">
                    <a href="{% url 'fork' snippet.id %}"><i class="fas fa-code-branch"></i></a>
                </button>
                <button class="btn visible copy" data-clipboard-text="{{snippet.code}}" aria-label="Copy the snippet"
                    title="Copy the snippet">
                    <i class="fas fa-clipboard-list"></i>
                </button>
                <button class="btn green hidden" data-clipboard-text="{{snippet.code}}">
                    <i class=" fas fa-clipboard-check"></i>
                </button>
            </div>
        </div>

        <figure class="code-fig">
            <pre class="line-numbers">
<code class="lang-{{snippet.language.name}}" data-lang="{{snippet.language.name}}">{{snippet.code|safe}}</code>
</pre>
        </figure>
    </div>
</div>

{% endblock content %}