{% extends 'base.html' %}

{% block content %}

<div class="snippet-list">

  {% for snippet in snippets %}
  <div class="snippet-item">
    <a href="{% url 'snippet_detail' snippet.id %}">
      <h4 class="snippet-title-preview"><span>{{snippet.title}}</span> <span class="preview">Preview</span></h4>

      <figure class="code-fig">
        <pre class="line-numbers"><code class="lang-{{snippet.language.name}}" data-lang="{{snippet.language.name}}">{{snippet.preview|safe}}</code>
        </pre>
      </figure>
    </a>
  </div>
  {% endfor %}

</div>

{% endblock content %}
