{% extends 'base.html' %}

{% block content %}

<h2 class="user-home-title">My snippets</h2>
<div class="snippet-list">

  {% for snippet in snippets %}
  <div class="snippet-item">
    <a href="{% url 'snippet_detail' snippet.id %}">
      <div class="preview-title">
        <h4 class="snippet-title-preview">{{snippet.title}}</h4>
        <span class="preview">Preview</span>
      </div>
      <figure class="code-fig">
        <pre class="line-numbers"><code class="lang-{{snippet.language.name}}" data-lang="{{snippet.language.name}}">{{snippet.preview}}</code>
        </pre>
      </figure>
    </a>
  </div>
  {% endfor %}

</div>

{% endblock content %}