<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  {% endblock meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500,700&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/prism.css' %}">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <script src="{% static 'js/prism.js' %}" defer></script>

  {% block title %}
    <title>SnippetSnap</title>
  {% endblock title %}
</head>

<body>

  {% block header %}
  <header class="header">
    <h1 class="title"><a href="{% url 'user_home' %}">>SnippetSnap</a></h1>

    {% if user.is_authenticated %}
    <div class="logged-in">
      <a href="/accounts/logout">Logout</a>
      <input class="search" placeholder="Find a snippet...">
    </div>
    {% else %}
    <div class="logged-out">
      <a href="/accounts/register">Register</a>
      |
      <a href="/accounts/login">Login</a>
    </div>
    {% endif %}
  </header>
  {% endblock header %}


  {% block content %}
  {% endblock content %}


  {% if user.is_authenticated %}
  <div class="show-user">Logged in as: {{user.username}}</div>
  {% endif %}

</body>

</html>