:root {
  --main-bg-color: whitesmoke;
  --header-bg-color: rgb(0, 16, 37);
  --title-color: rgb(211, 229, 250);
  --main-text-color: rgb(0, 16, 37);
  --description-color: #288691;
  --accent-color: rgb(83, 178, 216);
  --link-color: rgb(94, 71, 121);
  --btn-background: rgb(240, 240, 240);
  --btn-bg-hover: rgb(210, 217, 248);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.header {
  background-color: var(--header-bg-color);
  color: var(--title-color);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.header a {
  color: var(--title-color);
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.title {
  font-family: 'Source Code Pro', monospace;
}

.header-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header-links a {
  margin: 0 2px;
}

.logout {
  margin-bottom: 2px;
}

.btn {
  float: right;
  padding: 6px 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: var(--btn-background);
}

.btn:hover {
  background-color: var(--btn-bg-hover);
}

.search {
  padding: 6px;
  border: none;
  font-size: 17px;
}

.snippet-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.snippet-item {
  margin: 1rem;
  width: 40%;
  min-width: 350px;
  padding: 1rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-size: .8rem;
}

.preview-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.detail-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.detail-links {
  font-size: large;
}

.detail-links button {
  font-size: large;
  margin: 0 2px
}

.hidden {
  display: none;
}

.green {
  color: green;
}

.preview {
  color: grey;
  font-size: .6rem;
}

.snippet-list .snippet-item:hover {
  box-shadow: 0 0 10px rgba(9, 0, 141, 0.712);
}

.show-user {
  text-align: center;
}

.user-home-title {
  text-align: center;
}

.user-home-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.user-home-container .snippet-item {
  width: 90%;
}

.message {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 2rem;
}

.header-links > button {
  color: var(--title-color);
  background-color: rgb(0, 58, 112);
  text-align: center;
  padding: 10px 14px;
  font-size: 17px;
}

.header-links > button:hover {
  background-color: rgb(0, 70, 136);
}

.header .header-links a {
  /* display: block; */
  color: var(--title-color);
  background-color: rgb(2, 38, 87);
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}

.header .header-links a:hover {
  background-color: rgb(0, 47, 114);
  color: var(--title-color);
}

@media screen and (max-width: 600px) {

  .header a, .header input[type=text], .header .search-form button, .header-links, .header-links button {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px 14px;
  }

  .header-links button {
    text-align: center;
  }

  .header input[type=text] {
    width: 100%
    border: 1px solid #ccc;
  }
}