<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  {% endblock meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/prism.css' %}">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <script src="{% static 'js/detail_page.js' %}" defer></script>
  <script src="{% static 'js/search.js' %}" defer></script>
  <script id="prism-js" src="{% static 'js/prism.js' %}" defer></script>
  {% block title %}
  <title>SnippetSnap</title>
  {% endblock title %}
</head>

<body>

  {% block header %}
  <header class="header">
    <h1 class="title"><a href="{% url 'user_home' %}">>SnippetSnap</a></h1>

    {% if user.is_authenticated %}
    <div class="header-links">
      <a href="{%url 'add_snippet' %}" title="Add a snippet"><i class="fas fa-plus"></i></a>
      <a class="logout" href="/accounts/logout">Logout</a>
      <button id="all-pub-btn" class="btn search-btn" type="submit">All public snippets</button>
      <form class="search-form">
        <!-- <label for="search">Search for a snippet</label> -->
        <input id="search" class="search" type="text" placeholder="Find a snippet...">
        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    {% else %}
    <div class="header-links">
      <a href="/accounts/register">Register</a>
      <a href="/accounts/login">Login</a>
    </div>
    {% endif %}
  </header>
  {% endblock header %}

  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  {% if user.is_authenticated %}
  <div class="show-user">Logged in as: {{user.username}}</div>
  {% endif %}

</body>

</html>